name: e_commerce_app
description: "A new Flutter project."
publish_to: 'none' # Prevents accidental publishing to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  flutter_bloc: ^8.1.3
  get_it: ^7.7.0
  path: ^1.9.1
  sqflite: ^2.4.2
  dartz: ^0.10.1
  http: ^1.5.0
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  equatable: ^2.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
